.card {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: #94BBE9;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 5px;
}

img {
    margin: 10px 10px;
}

.card:hover {
    filter: brightness(110%);
    transform: scale(1.05)
}

.card h4 {
    width: 100%;
    text-align: center;
    background-color: rgba(238,174,202,0.6);
    color: #22558f;
}