@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

body {
    background: aliceblue;
    font-family: 'Gochi Hand', cursive;
}

@keyframes animatedBackground {
	from { background-position: 0 50%; }
	to { background-position: 0 0; }
}
