@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

:root {
--softPink: #F9D8D4;
--yellow: #F9A734;
--DarkYellow: #FB8B24;
--green: #36964C;
--DarkGreen: #286E38;
}

body {
    background: aliceblue;
    font-family: 'Gochi Hand', cursive;
    background:
	/* Pineapple details */
	radial-gradient(circle closest-side at 50px 50px, var(--DarkYellow) 3px, transparent 0),
	radial-gradient(circle closest-side at 40px 60px, var(--DarkYellow) 3px, transparent 0),
	radial-gradient(circle closest-side at 60px 60px, var(--DarkYellow) 3px, transparent 0),
	radial-gradient(circle closest-side at 50px 70px, var(--DarkYellow) 3px, transparent 0),
	
	radial-gradient(circle closest-side at 150px 165px, var(--DarkYellow) 3px, transparent 0),
	radial-gradient(circle closest-side at 140px 175px, var(--DarkYellow) 3px, transparent 0),
	radial-gradient(circle closest-side at 160px 175px, var(--DarkYellow) 3px, transparent 0),
	radial-gradient(circle closest-side at 150px 185px, var(--DarkYellow) 3px, transparent 0),
	
	/* Pineapple base */
	radial-gradient(ellipse closest-side at 50px 60px, var(--yellow) 18px, transparent 0),
	
	radial-gradient(ellipse closest-side at 150px 175px, var(--yellow) 18px, transparent 0),
	
	/* Pineapple leafs */
	radial-gradient(circle closest-side at 30px 40px, var(--softPink) 15px, transparent 0),
	radial-gradient(circle closest-side at 40px 35px, var(--green) 15px, transparent 0),
	radial-gradient(circle closest-side at 70px 40px, var(--softPink) 15px, transparent 0),
	radial-gradient(circle closest-side at 60px 35px, var(--DarkGreen) 15px, transparent 0),
	
	radial-gradient(circle closest-side at 130px 155px, var(--softPink) 15px, transparent 0),
	radial-gradient(circle closest-side at 140px 150px, var(--green) 15px, transparent 0),
	radial-gradient(circle at 170px 155px, var(--softPink) 15px, transparent 0),
	radial-gradient(circle at 160px 150px, var(--DarkGreen) 15px, transparent 0)
	;
	background-color: var(--softPink);
	background-size: 180px 210px;
	animation: animatedBackground .5s cubic-bezier(.61,-0.64,.58,1.46) forwards;
}

@keyframes animatedBackground {
	from { background-position: 0 50%; }
	to { background-position: 0 0; }
}
